*, *::after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



.back {
    width: 100%;
    height: 680px;
    background-color: #f6f2f2;
}

.clearfix {
    content: '';
    display: table;
    width: 100%;
    clear: both;
}

.wrapper {
    width: 80%;
    height: 100%;
    margin: auto;
}

.menu {
    margin-top: 29px;
    width: 100%;
    height: 89px;
    background-color: #313030;
    position: relative;
    float: left;
    text-align: center;
    /*
    box-shadow: 0px 5px 30px #393D45;
    */
}

.menu ul {
    list-style-type: none;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 0;
    overflow: hidden;
    position: relative;
    float: left;
    left:30%;
}

.menu li {
    top: auto;
    float: left;
}

.menu li a {
    position: relative;
    padding: 12px 25px;
    text-decoration: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 60px;
    text-transform: uppercase;
    letter-spacing: 0.59px;
    float: left;
}

.menu li a:hover {
    background-color: #ff3f40;
}

.top-content {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 570px;
}

.top-content h1 {
    margin-top: 100px;
    font-family: 'Open Sans', sans-serif;
    font-size: 35pt;
    letter-spacing: 0.59px;
    text-transform: uppercase;

}
.text {
    margin-top: 35px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #494848;
}


.left-content {
    float: left;
    width: 30%;
    height: 570px;
}



.red-button {
    margin-top: 55px;
    width: 225px;
    height: 55px;
    border-style: none;
    border-radius: 5px;
    background-color: #ff2d2d;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: white;
}


.white-button {
    margin-top: 55px;
    width: 225px;
    height: 55px;
    border:  1px solid #ff2d2d;
    border-radius: 5px;
    color: #ff2d2d;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
    background-color: white;
}

.right-content {
    margin-top: 100px;
    float: right;
    box-shadow: -1px -1px 10px;
    position: relative;
    right: 7px;
}

.middle-content {
    margin-top: 115px;
}

.left-middle-content {
    margin-right: 100px;
    width: 400px;
    height: 270px;
    float: left;
}
.right-middle-content {

    width: 50%;
    float: right;
}

.category {
    margin-bottom: 60px;
    width: 230px;
    height: 300px;
    float: left;
    margin-right: 25px;
}

.logo {
  font-size:3em;
  color:#ff2d2d;
  margin-bottom: 20px;
}

h1, .left-middle-content h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    letter-spacing: 0.59px;
    color: #494848;
}

.right-middle-content h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    letter-spacing: 0.59px;
    color: #494848;
}

.middle-content {
    margin-bottom: 100px;
}

.center-content {
    width: 490px;
    height: 140px;
    text-align: center;
    margin: 100px auto;
}

.red-hr {
    width: 130px;
    border: none;
    background-color: red;
    margin: 30px auto;
    height: 2px;
}

.center-content ul {
    width: 900px;
    list-style-type: none;
    position: relative;
    left: -6%;

}

.center-content li {
    top: auto;
    float: left;
}

.center-content li a {
    position: relative;
    padding: 12px;
    text-decoration: none;
    color: #737373;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 60px;
    text-transform: uppercase;
    letter-spacing: 0.59px;
    float: left;
}

.center-content .active {
    color: #ff3f40;
}

.boxes {
    height: 500px;
}

.box-item {
    width: 22%;
    height: 200px;
    margin: 10px;
    background-color: #f5f0dd;
    float: left;
}

.left-side-content {
    width: 480px;
    height: 200px;

}

.left-side-content h1 {
    text-transform: uppercase;

}
.left-side-content .red-hr, .text, .left-side-content-box {
    margin-left: 20px;
}


.left-side-content-box {
    width: 300px;
    height: 368px;
    background-color: #f5f0dd;
    float: left;
}

.side-content-wrapper {
    margin-top: 100px;
    height: 580px;
}

.right-side-content {
    float: right;
    width: 63%;
    margin-left: 0px;
}

.right-side-content h1 {
    text-transform: uppercase;
    margin-left: 0px;
}

.right-side-content .text {
    margin-left: 0px;
}
.right-side-content-boxes {
    margin-top: 25px;
    float: left;
}
.right-side-content-box-item {
    width: 140px;
    height: 160px;
    background-color: #f5f0dd;
    float: left;
    margin-right: 20px;
}

.right-side-content-box-item .active {
    text-transform: uppercase;
    color: white;
    background-color: #7a786e;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
    width: 140px;
    height: 30px;
    position: relative;
    top: 130px;
}

.right-side-content-social-links ul {
    list-style-type: none;
    margin: 5px auto;

}



.right-side-content-social-links li a {
    position: relative;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 14px;
    float: left;
    color: #494848;
    margin: 10px 40px;
    margin-left: 0px;
}

.subscribe-wrapper {

    text-align: center;

}

.subscribe-internal {
    background-color: #818181;
    width: 100%;
    height: 500px;
}

.subscribe-internal h1, .subscribe-text {
    color: #e9e9e9;
    margin-top: 20px;
    position: relative;
    top: 120px;
}

.subscribe-input {
    height: 55px;
    width: 520px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    color: #494848;
    padding-left: 30px;
    position: relative;
    bottom: 2px;
    margin-right: 20px;

}


.subscribe-internal .red-button {
    text-transform: uppercase;

}

.subscribe-form {
    margin-top: 120px;
}

.bottom-message-wrapper {
    position: relative;
    top: 500px;
}

.footer {
    background-color: #818181;
    width: 100%;
    height: 200px;
}